{% extends "layout.html" %} {% block contents %}




<script type="text/javascript">
    var css = document.createElement('link');
    css.rel = 'stylesheet';
    css.href = '/static/image.css';
    css.type = 'text/css';
    var head = document.getElementsByTagName('head')[0];
    head.appendChild(css);
  </script>
<!-- Masthead-->

<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">

          <!-- Page heading-->
          <h5 class="mb-5">探している画像をみつけよう！!</h1>
          <!-- Signup form-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form action="/search" method="POST" class="form-subscribe"
            id="contactForm" data-sb-form-api-token="API_TOKEN">
            <!-- Email address input-->
            <div class="row">
              <div class="col">
                <input class="form-control form-control-lg" name="kensaku"
                  id="emailAddress" type="text" placeholder="検索キーワード"
                  data-sb-validations="required,email" />
                <div class="invalid-feedback text-white"
                  data-sb-feedback="emailAddress:required">Email Address is
                  required.</div>
                <div class="invalid-feedback text-white"
                  data-sb-feedback="emailAddress:email">Email Address Email is
                  not valid.</div>
              </div>
              <div class="col-auto"><button class="btn btn-primary btn-lg"
                  type="submit"> 検索 </button></div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a class="text-white"
                  href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center
                text-danger mb-3">Error sending message!</div></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<br>

      


<div class="album py-5 bg-light">

  <div class="container">

      <p class="h1">おすすめ画像素材</p>
      <div class="row">
        {% for result in data %}
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <a href='/{{ result["user_name"] }}/content/{{ result["album_id"]
            }}/{{ result["file_id"] }}'>
            <img
              src='{{ result["folder"] }}/{{ result["file"] }}'
              class="w-100 shadow-1-strong rounded mb-4 im"
              alt onerror="this.onerror= null; this.src='';"
              />
          </a>
        </div>

        {% endfor %}
      </div>

    </div>
  </div>
  <style>
    a {
      text-decoration: none;
    }
  </style>

  <div style="clear:both;"></div>



  {% endblock %}